<div class="container">
    <div class="card mb-3">
      <h5 class="order-title">Order Summary</h5>
        <div class="row g-0" *ngFor="let ordr of order.data">
          <div class="col-md-4" >
            <img [src]="this.ordr.bookid.bookLogo" class="img-fluid rounded-start" alt="Loading...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ordr.bookid.bookName}}</h5>
              <p class="card-text">by {{ordr.bookid.authorName}}</p>
              <p class="card-text">RS.{{ordr.bookid.bookPrice * ordr.quantity}}</p>
            </div>
          </div>
        </div> 
        <div>
        <button  type="button" class="checkout" (click)="money()">TotalAmount:<p class="card-text">{{amount.data}}</p></button> 
        
        <button  type="button" class="checkout" (click)="orderDetails()">Checkout</button> 
      </div>
    </div>